# New

## Introduction:
This is my new pyhton notebook created through jupyter.

## Data Science Languages:
1. Pyhton
2. SQL
3. R
4. Julia

## Data Science Libraries

In [30]:
data_science_libraries = [
    "numpy", 
    "pandas", 
    "scikitlearn", 
    "matplotlib", 
    "pyplot", 
    "seaborn"
]

In [32]:
data_science_libraries

['numpy', 'pandas', 'scikitlearn', 'matplotlib', 'pyplot', 'seaborn']

## Data Science tools
1. Power BI
2. Apache Spark
3. XLS
4. Jupyter

## Arithmatic Expression

Arithmetic expressions help users perform mathematical operations in python.



### Addition

In [10]:
54 + 95

149

###  Subtraction

In [15]:
62 - 97

-35

### Multiplication

In [18]:
956 * 119

113764

## Min to Hrs

In [21]:
x_mins = 9256

In [23]:
x_hrs = x_mins /60

In [25]:
x_hrs

154.26666666666668

## Objectives

* To learn and understand the usage of jupyter notebook
* To gain better understanding of the working environment

### Author's Name: Srivathsan M